[submodule "third-party/json"]
	path = third-party/json
	url = https://github.com/nlohmann/json.git
[submodule "third-party/gtest"]
	path = third-party/gtest
	url = https://github.com/google/googletest.git
[submodule "third-party/ulog"]
	path = third-party/ulog
	url = https://github.com/ly-east/ulog.git
[submodule "third-party/ucrash"]
	path = third-party/ucrash
	url = https://github.com/ly-east/ucrash.git
